---
- name: Deploy bank app to Kubernetes via Helm
  hosts: master
  become: yes
  gather_facts: yes

  vars:
    helm_binary_path: /usr/local/bin/helm
    chart_src: "../K8s/helm/bank-app"
    chart_dest: "/home/ubuntu/bank-app-chart"
    release_name: "bank-app"
    namespace: "default"

  tasks:
    - name: Install Helm 3 if not present
      shell: |
        curl -s https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      args:
        creates: "{{ helm_binary_path }}"

    - name: Copy Helm chart to master node
      copy:
        src: "{{ chart_src }}/"
        dest: "{{ chart_dest }}/"
        owner: ubuntu
        group: ubuntu
        mode: "0755"

    - name: Deploy / upgrade bank-app Helm release
      become_user: ubuntu
      environment:
        KUBECONFIG: /home/ubuntu/.kube/config
      command: >
        helm upgrade --install {{ release_name }} {{ chart_dest }}
        --namespace {{ namespace }} --create-namespace
