---
- name: Prepare master and init Kubernetes control plane
  hosts: ec2_nodes
  become: yes
  gather_facts: yes

  vars:
    pod_network_cidr: "10.244.0.0/16"

  tasks:
    - name: Mark first node as master
      set_fact:
        is_master: "{{ inventory_hostname == (groups['ec2_nodes'] | sort | first) }}"

    - name: Initialize Kubernetes master with kubeadm
      command: >
        kubeadm init
        --pod-network-cidr={{ pod_network_cidr }}
        --ignore-preflight-errors=NumCPU,Mem
      when: is_master
      register: kubeadm_init

    - name: Create .kube directory for ubuntu user
      file:
        path: /home/ubuntu/.kube
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: '0700'
      when: is_master

    - name: Copy admin.conf to ubuntu kube config
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/ubuntu/.kube/config
        remote_src: yes
        owner: ubuntu
        group: ubuntu
        mode: '0600'
      when: is_master

    - name: Save join command to file on master
      shell: |
        kubeadm token create --print-join-command > /tmp/kube_join.sh
        chmod +x /tmp/kube_join.sh
      when: is_master

    - name: Fetch join command script to control machine
      fetch:
        src: /tmp/kube_join.sh
        dest: /tmp/kube_join.sh
        flat: yes
      when: is_master

- name: Join worker nodes to cluster
  hosts: ec2_nodes
  become: yes
  gather_facts: yes

  tasks:
    - name: Mark first node as master again
      set_fact:
        is_master: "{{ inventory_hostname == (groups['ec2_nodes'] | sort | first) }}"

    - name: Copy join script from control to node
      copy:
        src: /tmp/kube_join.sh
        dest: /tmp/kube_join.sh
        mode: '0755'
      when: not is_master

    - name: Run join script on workers
      command: /tmp/kube_join.sh
      when: not is_master
