---
- name: Configure EC2 nodes and run application
  hosts: ec2_nodes
  become: yes
  gather_facts: yes

  vars:
    ansible_python_interpreter: /usr/bin/python3

  tasks:

    - name: Update apt cache and install Python3, pip3 and Docker
      apt:
        name:
          - python3
          - python3-pip
          - docker.io
        update_cache: yes
        state: present

    - name: Enable and start Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Pull image
      shell: docker pull 04unit04/final-devops-bank-app:latest

    - name: Stop old container if exists
      shell: docker rm -f bank-app || true

    - name: Run container
      shell: |
        docker run -d \
          --name bank-app \
          -p 80:80 \
          --restart always \
          04unit04/final-devops-bank-app:latest
